//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 12 21:09:18 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "in" LOCATE = SITE "L15" LEVEL 1;
COMP "raw_in" LOCATE = SITE "L17" LEVEL 1;
COMP "out" LOCATE = SITE "K12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clk = BEL "genblock[255].ri/Mshreg_out_0/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_1.SLICEM_GMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_1/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_1.SLICEM_FMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_2/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_3.SLICEM_GMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_3/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_3.SLICEM_FMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_4/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_5.SLICEM_GMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_5/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_5.SLICEM_FMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_6/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_7.SLICEM_GMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_7/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_7.SLICEM_FMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_8/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_9.SLICEM_GMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_9/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_9.SLICEM_FMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_10/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_11.SLICEM_GMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_11/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_11.SLICEM_FMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_12/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_13.SLICEM_GMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_13/SRLC16E" BEL
        "genblock[255].ri/Mshreg_out_13.SLICEM_FMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_14/SRLC16E" BEL
        "genblock[255].ri/out.SLICEM_GMC15_BLACKBOX" BEL
        "genblock[255].ri/Mshreg_out_15/SRL16E" BEL "genblock[255].ri/out" BEL
        "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
COMP "in" OFFSET = IN 10 ns VALID 10 ns BEFORE COMP "clk" "RISING";
COMP "out" OFFSET = OUT 10 ns AFTER COMP "clk";
SCHEMATIC END;

