//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 31 21:17:00 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B18" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "in" LOCATE = SITE "G18" LEVEL 1;
COMP "out" LOCATE = SITE "J14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

