//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 22 18:55:43 2024
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "out_clk" LOCATE = SITE "K13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clk = BEL "out_clk" BEL "n_clocks_0" BEL "n_clocks_1" BEL "n_clocks_2"
        BEL "n_clocks_3" BEL "PPS_counter/counter_out_0" BEL
        "PPS_counter/counter_out_1" BEL "PPS_counter/counter_out_2" BEL
        "PPS_counter/counter_out_3" BEL "clk_BUFGP/BUFG.GCLKMUX" BEL
        "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
COMP "out_clk" OFFSET = OUT 10 ns AFTER COMP "clk";
SCHEMATIC END;

