// defining location
NET "PPS1_out" LOC = "L15";	// output pin header (JA1)
NET "clk" LOC = "K13";   // input clk header (K13=JA7 for external, B8 for internal)
NET "led" LOC = "J14";
// NET "raw_clk" LOC = "K12"; // output pin header for clk (JA2)


#Created by Constraints Editor (xc3s500e-fg320-4) - 2023/08/30
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;
NET "PPS1_out" OFFSET = OUT 10 ns AFTER "clk";