//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 28 15:29:17 2023
//! **************************************************************************

SCHEMATIC START;
COMP "in" LOCATE = SITE "L15" LEVEL 1;
COMP "out" LOCATE = SITE "L16" LEVEL 1;
SCHEMATIC END;

